/* Very basic css for page. */

body {
	height: 100%;
	margin: 0px;
	background-color: "#8080ff";
	padding: 0px;
}

html {
	height: 100%;
}

#lblDistance {
	position: absolute;
	right: 10px;
	top: 20px;
	z-index: 100;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: white;
	display: none;
}

#mbuttonF .mbuttonF {
	position: absolute;
	background: url('../images/mfr.svg');
	bottom: 10px;
	right: 60px;
	border: solid 1px transparent;
	height: 32px;
	width: 32px;
	z-index: 100;
	display: none;
}

#mbuttonT .mbuttonT {
	position: absolute;
	background: url('../images/mto.svg');
	bottom: 10px;
	right: 10px;
	border: solid 1px transparent;
	height: 32px;
	width: 32px;
	z-index: 100;
	display: none;
}

#mylogo {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
	border-width: 0px;
}

#backup {
	width: 80%;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 10% 10% 100px;
	z-index: 50;
	display: none;
}

#backup-text-wrapper {
	width: 100%;
	max-width: 860px;
	position: relative;
	margin: auto;
	text-align: justify;
}

#my3dcontent {
	min-height: 100%;
	position: relative;
	/* Fancy linear gradient like MeshLab */
	background: -webkit-linear-gradient(#000000, #8080ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000000, #8080ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000000, #8080ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000000, #8080ff); /* Standard syntax */
}

/* Menu Style */
#toolbox-launcher {
	position: absolute;
	z-index: 2;
	margin-top: 10px;
	margin-left: 10px;
}

#toolbox {
	display: none;
	position: absolute;
	z-index: 100;
	margin-top: 60px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	border-width: thin;
	border-style: solid;
	border-color: white;
	font-size: small;
	color: white;
	padding: 5px 1px;
	width: 180px;
	border-radius: 10px;
	text-align: left;
}
#toolbox a:link {
	color: white;
	text-decoration: none;
}
#toolbox a:visited {
	color: white;
	text-decoration: none;
}

/* Webfonts courtesy of Fontello and Font Awesome */
@font-face {
	font-family: 'wbicons';
	src: url("icons/wbicons.eot");
	src: url("icons/wbicons.eot#iefix") format('embedded-opentype'), url("icons/wbicons.woff") format('woff'), url("icons/wbicons.ttf") format('truetype'), url("icons/wbicons.svg#bullets") format('svg');
	font-weight: normal;
	font-style: normal;
}

ul.nav {
	list-style-type: none;
}

ul.nav li {
	text-indent: -1.4em;
	margin: 0.5em 0.5em;
	line-height: 1.5em;
}

ul.nav li:before {
	font-family: wbicons;
	content: "\e800";
	float: left;
	width: 1.4em;
	color: white;
}

ul.nav li.info:before {
	content: "\e800";
}
ul.nav li.home:before {
	content: "\e804";
}
ul.nav li.measure:before {
	content: "\e806";
}
ul.nav li.skin:before {
	content: "\e803";
}
ul.nav li.reset:before {
	content: "\e807";
}
ul.nav li.help:before {
	content: "\e801";
}

/* Overlays */
#infooverlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
}

#infooverlay-box {
	height: 400px;
	width: 300px;
	margin: 100px auto;
	background-color: white;
	border: 1px solid white;
	padding: 15px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	border-radius: 10px;
	opacity: 0.9;
	overflow: auto;
}

#helpoverlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
}

#helpoverlay-box {
	height: 400px;
	width: 300px;
	margin: 100px auto;
	background-color: white;
	border: 1px solid white;
	padding: 15px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	border-radius: 10px;
	opacity: 0.9;
	overflow: auto;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: wbicons;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	width: 2em;
	opacity: 0.8;
	color: black;
	float: right;
	text-decoration: none;
}
.icon-cancel:before { content: '\e802'; }


