

/* Very basic css for page. */

body {
  margin: 0px;
  overflow: hidden;
  background-color: "#8080ff";
}

#mylogo {
	position: absolute; bottom: 15px; left: 10px; z-index: 2;
	border-width: 0px; 
}

#myothercontent {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute; top: 15px; right: 15px; z-index: 100;
	border-width: thin; 
	border-style: solid;
	border-color: white;
	font-size: small;
	color: white;
	padding:5px 10px; 
	width:200px; 
	border-radius:10px;"
}
#myothercontent a:link { color: #C0C0C0; }
#myothercontent a:visited { color: #C0C0C0; }


#backupimage {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 10%;
	z-index: 50;
	border-width: 0px;
}
#backupimage a:link { color: #C0C0C0; }
#backupimage a:visited { color: #C0C0C0; }


#my3dcontent {
	/* Fancy linear gradient like MeshLab */
	background: -webkit-linear-gradient(#000000, #8080ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000000, #8080ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000000, #8080ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000000, #8080ff); /* Standard syntax */
	border-style: solid;
}

/* Customized CSS for jQuery UI: simple info button and box. */

.ui-widget-content 
{
    font-size:12px;
    font-family: georgia;
}

/* trim space around info button */
.ui-button-text-only .ui-button-text 
{  padding: 0px;  }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{  border: 0px solid #000000;  }

/* changing dialog close button */
.ui-dialog-titlebar-close
{
	outline-width: 0px !important;
	background-color: transparent !important;
    background-image: url('../images/icon-close-16.png') !important;
	background-repeat:no-repeat !important;
}

/* changing dialog close button */
.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:focus 
{
    background-color: transparent !important;
    background-image: url('../images/icon-close-16.png') !important;
	background-repeat:no-repeat !important;
}

/* hide the default "x" close image */
.ui-dialog-titlebar-close span 
{  display:none !important;  }

/* translucent background */
.ui-dialog 
{  
	opacity: .90;  
	width:200px !important;
}